@import "https://fonts.googleapis.com/css?family=Montserrat";
@import "https://fonts.googleapis.com/css?family=Ubuntu:400,700";
@import "https://fonts.googleapis.com/css?family=Roboto";

html {
  font: 16px/1.5 'Montserrat', sans-serif;
}

body {
  background-color: white;
  background-size: cover;
}
body::-webkit-scrollbar {
  width: 0px;
  background-color: #2B3A42;
}

/*body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}*/
 
body::-webkit-scrollbar-thumb {
  background-color: #FF530D;
  height: 2px;
  outline: 1px solid #2B3A42;
}

#home-bg{
  background-image: url(../img/home.jpg);
}

a {
  text-decoration: none;
  color: white;
}

* {
  box-sizing: border-box;
}

/* Header */

#header, .left, .right {
  display: flex;
  align-items: center;
}

#header {
  justify-content: space-between;
  padding: 0 100px;
  width: 100%;
  height: 75px;
  background-color: #2B3A42;
  color: white;
  position: sticky;
  top: 0px;
}

.left {
  justify-content: flex-start;
  width: 33.333%;
  height: 75px;
}

.right {
  justify-content: space-between;
  text-align: center;
  width: 33.333%;
}
.right a{
  padding: 2%;
  width: 30%;
  border-radius: 5px;
  transition: 0.3s;
  background-color: #3F5765;
}
.right a:hover{ 
  background-color: #FF530D;
}

#header-user{
  margin-left: 20px;
}

#page-title{
  font-size: 40px;
  font-weight: bold;
}
.fa .fa-bell{
  color: white;
}

/* Home */

.home-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 600px;
  background-color: rgba(239, 239, 239, 0.56);
  color: #2B3A42;
  border-bottom: 5px solid #3f5765;
  border-top: 5px solid #3f5765;
  margin-top: 10%;
}
#home-logo{
  margin-top: 40px;
}

.home-titles{
  font-size: 300%;
  padding-top: 1%;
}

.home-subtext{
  padding-top: 2%;
  letter-spacing: 2px;
  text-align: center;
  font-size: 150%;
  width: 70%;
}

.home-button-container{
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.home-button {
  margin-top: 70px;
  width: 250px;
  height: 60px;
  background-color: rgba(43, 58, 66, 0.9);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  color: #bbd2dc;
}
.home-button:hover{
  font-size: 30px;
}

/* Login */

#login-form {
  margin-top: 40px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 25px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  margin-bottom: 50px;
}

.login-button {
  background-color: #3f5765;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
  border-radius: 1px;
  outline: none;
  width: 185px;
  height: 55px;
  margin: 0 auto;
  transition: 0.5s;
  cursor: pointer;
}

.login-button:hover {
  background-color: #2B3A42;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-input {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-class {
  height: 50px;
  padding: 20px;
  font-size: 18px;
  width: 300px;
  outline: none;
  background-color: #f7f7f7;
  border: 1px solid #e4dada;
}

.pass {
  font-size: 30px;
  letter-spacing: 2px;
}

.forget-pw {
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px;
  color: #e55f41;
}

.form-span {
  color: #989898;
  padding: 0px 0;
  font-size: 14px;
}

.login-span {
  text-align: center;
  font-size: 25px;
  color: #6b6b6b;
  padding: 0px 0px 20px 0px;
  border-bottom: 1px solid #dedede;
}

#login-back{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  margin-top: 10px;
}

.val_error {
  color: #ff5252;
  font-size: 14px;
  padding: 10px 0;
}

.incorrect {
  background: #ffa0a0;
  margin: 10px 0;
  border: 1px solid #ff3737;
  font-size: 14px;
  color: red;
  padding: 10px;
  text-align: center;
}
.correct {
  background: lightgreen;
  margin: 10px 0;
  border: 1px solid green;
  font-size: 14px;
  color: green;
  padding: 10px;
  text-align: center;
}

#changepassform{
  margin-top: 20px;
}

/* Register */

.register-form {
  margin-top: 40px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 25px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  margin-bottom: 50px;
  width: 40%;
}
#change-form{
  width: 70%;
}
.form-group-register{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 60%;
  margin-top: 10px;
  padding: 0px 40px 0px 30px;
  height: 85%;
}
#phone-input input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


/* Navigation sidemenu */

#mySidenav {
    margin-top: 75px;
    background-color: #3F5765;
}

#navbutton{
  display: flex;
  justify-content: space-between;
  font-size: 35px;
  width: 130px;
  position: fixed;
  top: 130px;
  left: 0px;
  margin-left: 40px;
  color: #1c1f1f;
  cursor: pointer;
}
#menu-icon{
  margin-right: 10px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1C1F1F;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 10px 32px 10px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #EFEFEF;
  display: block;
}

.sidenav a:hover, .offcanvas a:focus{
  background-color: #FF530D;
  transition: 0.5s;
  cursor: pointer;
}

.sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 35px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 5px;
}
.closebtn:hover {
  background-color: #1C1F1F;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Content-container + Items */

#mainpage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
#mainpic{
  width: 70%;
  height: 30%;
  margin-top: 50px;
  transition: 0.5s;
}
#content-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 70%;
  background-color: white;
  transition: 0.5s;
}
.search-result{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
.item-container{
  width: 100%;
  height: 200px;
  background-color: #BDD4DE;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.item-container form{
  margin-right: 70px;
}
.item-container2{
  width: 100%;
  height: 200px;
  background-color: #EFEFEF;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.item-container2 form{
  margin-right: 70px;
}
.result-img{
  height: 85%;
  width: 20%;
  object-fit: cover;
}
.result-info{
  width: 70%;
  height: 170px;
  background-color: #BDD4DE;
  display: flex;
  align-items: center;
}
.result-info2{
  width: 70%;
  height: 170px;
  background-color: #EFEFEF;
  display: flex;
  align-items: center;
}
.result-title-div{
  height: 100%;
  width: 35%;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  letter-spacing: 2px;
  font-weight: bold;
  border-right: 1px solid #1C1F1F;
}
.result-div{
  height: 100%;
  width: 75%;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  letter-spacing: 1px;
}
.result-name{
  font-weight: bold;
}
.info-button {
  width: 40%;
  height: 20%;
  background-color: #3F5765;
  color: white;
  border-radius: 5px;
  padding: 20px;
  letter-spacing: 1px;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border: 0px;
  cursor: pointer;
}
.info-button:hover {
  background-color: #FF530D;
}

/* Search */

#search-open{
  width: 100%;
  font-size: 300%;
  background-color: #2B3A42;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
  cursor: pointer;
  height: 120px;
  transition: 1s;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.fa-arrows-v{
  margin-left: 20px;
}
#search-open:hover{
  background-color: #3F5765;
}
#search-container{
  display: none;
  width: 100%;
  background-color: #2B3A42;
  color: white;
}
#search-form{
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  width: 60%;
  flex-wrap: wrap;
}
#search-form div{
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
#search-form div select{
  width: 45%;
  height: 30px;
}
#search-button{
  font-size: 120%;
  margin-top: 20px;
  margin-left: 25%;
  width: 50%;
  padding: 5px;
  background-color: #3F5765;
  color: white;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}
#search-button:hover{
  background-color: #FF530D;
}

/* Account */

.accounttable{
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
}
.accounttable p{
  padding: 5px;
}
.accounttable .account-left{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  background-color: #2B3A42;
  padding: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.accounttable .account-right{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 70%;
  background-color: #3f5765;
  padding: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.account-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 50px;
  background-color: #3f5765;
  margin-bottom: 50px;
  font-size: 17px;
  border-radius: 5px;
}
.account-button:hover{
  background-color: #FF530D;
  transition: 0.3s;
}
#account-container-buttons{
  width: 90%;
  display: flex;
  justify-content: space-between;
}

/* Create add */

#create-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #3F5765;
  color: white;
  padding: 20px;
  font-size: 110%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#create-form #top{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 60px;
  margin: 10px;
}
#create-form #top div{
  width: 50%;
}
#create-form #top input{
  width: 50%;
  height: 30px;
}
#create-form #mid{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 200px;
  margin: 10px;
}
#create-form #mid div{
  width: 33%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
}
#create-form #mid input{
  width: 50%;
  height: 30px;
}
#create-form #mid select{
  width: 50%;
  height: 30px;
}
#create-form #bot{
  width: 100%;
  height: 200px;
  margin: 10px;
}
#create-form #bot textarea{
  margin-top: 10px;
  margin-bottom: 20px;
}
#create-button{
  font-size: 120%;
  margin-top: 20px;
  width: 50%;
  padding: 5px;
  background-color: #2B3A42;
  color: white;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
  margin: 0 auto;
}
#create-button:hover{
  background-color: #FF530D;
}
#user-add{
  margin-bottom: 20px;
  height: 250px;
  overflow-y: auto;
  width: 100%;
}

/* Advertentie details */

#details-div{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  background-color: #2B3A42;
  color: white;
  padding: 20px;
}
.details-element{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 25%;
}
#details-description{
  color: white;
  width: 100%;
  height: 200px;
  background-color: #3F5765;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 20px;
  overflow-y: auto;
}
#desc-title{
  text-align: left;
}
.detail-title{
  font-weight: bold;
  letter-spacing: 1px;
  width: 80%;
  text-align: center;
  background-color: #3F5765;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}
#detail-img-container{
  width: 100%;
  height: 720px;
}
#detail-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
